body {
    font-family: sans-serif;
    /* background: #f5f5f5; */
    /* background: #D7B29D; */
    background: #f5f5f5;
    color: #222222;
    margin: 0;
}

h1 {
    padding: 10px 30px;
}

.incorrect {
    color: red;
    /* text-align: center; */
}
.correct {
    color: mediumseagreen;
}
.user-results .correct {
    font-weight: bold;
    /* font-size: 1.1em; */
}
.correct.perfect-choice {
    color: springgreen;
    /* color: springgreen !important; */
}
.total-row {
    font-weight: bold;
}

.container {
    display: flex;
    width: 100%;
}
.container > div {
    padding: 10px 50px;
}

.container > div:first-child {
    /* background: #F3A712; */
    /* background: #417B5A; */
    background: #aaaaaa;
}
/* .container > div:first-child th {
    background: #055829;
}
.container > div:first-child tr:nth-child(even) {
    background: #67a582;
}

.container > div:last-child {
    background: #98E2C6;
    width: 100%;
}
.container > div:last-child th {
    background: #5fd4a7;
}
.container > div:last-child tr:nth-child(even) {
    background: #b7dbcd;
} */
/* .container tr:nth-child(even) {
    background: #D7B29D;
} */

table {
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}

.all-results {
    padding: 10px 50px 50px;
    /* background: #4F86C6; */
}
.all-results tbody tr:hover {
    background: #ff4136;
    /*cursor: pointer;*/
}
/* .all-results th {
    background: #1666c2;
}
.all-results tr:nth-child(even) {
    background: #7bade6;
} */
.all-results tbody tr /*td:nth-child(2):hover*/ {
    cursor: pointer;
}

/* form[name="results"] input[name="r"] { */
form[name="results"] input[type="url"] {
    width: 700px;
}
form[name="results"] td {
    padding: 5px;
}
form[name="results"] h1 {
    padding: 0 30px;
}
form[name="results"] p {
    padding: 0 20px;
}
/* 
.race-title {
    visibility: hidden;
} */
