/* * {
	box-sizing: border-box;
} */

body {
	font-family: sans-serif;
	/* background: #D7B29D; */
	background: #f5f5f5;
	/* background-image: url("https://img.favpng.com/1/13/1/bicycle-drawing-cycling-motorcycle-png-favpng-KiaLdBaWFgM88AJiKV0ZBxcRC.jpg");
	background-size: 70px 70px;
	background-repeat: space; */
	color: #222222;
	margin: 0;
}

table {
	border-collapse: collapse;
}
th, td {
	padding: 10px;
}

/* User result table - top part of screen */
#results-pg .incorrect {
	color: red;
	/* text-align: center; */
}
#results-pg .user-entry .correct {
	color: seagreen;
}
/* #results-pg .correct {
	color: mediumseagreen;
} */
#results-pg .user-results .correct {
	color: mediumseagreen;
	font-weight: bold;
	/* font-size: 1.1em; */
}
#results-pg .correct.perfect-choice {
	color: springgreen;
}
#results-pg .user-results tr:last-of-type { /* #results-pg .total-row */
	font-weight: bold;
}

#results-pg .container {
	display: flex;
	width: 100%;
}
#results-pg .container > div {
	padding: 10px 50px;
}

#results-pg .user-entry {
	/* background: #F3A712; */
	/* background: #417B5A; */
	background: #aaaaaa;
}
/* .container > div:first-child th {
	background: #055829;
}
.container > div:first-child tr:nth-child(even) {
	background: #67a582;
} */
/* .container > div:last-child {
	background: #98E2C6;
	width: 100%;
}
.container > div:last-child th {
	background: #5fd4a7;
}
.container > div:last-child tr:nth-child(even) {
	background: #b7dbcd;
} */
/* .container tr:nth-child(even) {
	background: #D7B29D;
} */

/* All results list - bottom part of screen */
#results-pg .all-results {
	padding: 10px 50px 50px;
	/* background: #4F86C6; */
}
#results-pg .all-results-container {
	display: flex;
	align-items: flex-start;
}

#results-pg .all-results th {
	background: #1666c2; /* royalblue */
}
#results-pg .all-results /*tbody*/ tr /*td:nth-child(2):hover*/ {
	cursor: pointer;
}
#results-pg .all-results /*tbody*/ tr:hover {
	background: #ff4136;
}
#results-pg .all-results tr.even { /*nth-child, nth-of-type */
	background: #7bade6;
}
/* Using visibility:collapse and line height etc. to keep row width the same but condense page height: https://stackoverflow.com/a/45864060 */
#results-pg tr.hidden {
	visibility: collapse;
	line-height: 0;
}
#results-pg tr.hidden * {
	padding-bottom: 0;
	padding-top: 0;
	/* border: none; */
}

#results-pg .search {
	margin-left: 150px; /* edit */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
/* #results-pg .search input { */
#results-pg .searchbox {
	height: 50px;
}

/* Disclaimers */
#results-pg h1 {
	margin-bottom: 5px;
	/* margin: 0;
	padding: 20px 30px;
	background: dodgerblue; */
	padding: 10px 30px;
}
#results-pg .disclaimer {
	color: #eeeeee;
	font-family: serif;
	font-size: 0.92em;
	/* padding: 15px; */
}
/* #results-pg .footer-disclaimer */
#results-pg footer.disclaimer {
	background: navy; /* royalblue */
	padding: 15px 20px;
}
/* #results-pg header-disclaimer */
#results-pg div.disclaimer {
	padding: 10px 20px;
	background: royalblue; /* #3838f0, mediumaquamarine, mediumseagreen */

}

/* Index page */
#index-pg {
	padding-left: 20px;
}
#index-pg h1 {
	color: #ff286e;
}
#index-pg h1, #index-pg p {
	padding: 0 20px;
}
#index-pg form[name="results"] {
	padding-left: 10px;
	padding-bottom: 50px;
}
#index-pg form[name="results"] label {
	display: block;
	text-align: center;
	/* padding: 10px; */
}
#index-pg form[name="results"] td {
	padding: 5px;
}
#index-pg form[name="results"] input[name="r"] {
	/* form[name="results"] input[type="url"] { */
	width: 700px;
	margin-top: 5px;
}
#index-pg form[name="results"] input[type="submit"] {
	margin-left: 5px;
}
#index-pg form[name="results"] button {
	display: block;
	margin-top: 10px;
}
#index-pg button, #index-pg input[type="submit"] {
	padding: 3px 6px;
}

/* #ff286e */
/* #ffff00 */
/* #da291c */
